<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util.xsd
						http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
	">

	<import resource="../neuralnetspring/activationFunctions.xml" />

	<bean id="hebbian" class="io.github.dominikthomas.neuralnet.learn.Hebbian">
		<property name="neuralNet" ref="neuralNet" />
		<property name="learningMode" value="ONLINE" />
		<property name="printTraining" value="true" />
		<property name="learningRate" value="0.3" />
		<property name="maxEpochs" value="1000" />
		<property name="trainingDataSet" ref="trainingDataSet" />
	</bean>

	<bean id="neuralNet" class="io.github.dominikthomas.neuralnet.beans.NeuralNet">
		<property name="numberOfInputs" value="2" />
		<property name="numberOfOutputs" value="1" />
		<property name="outputAcFnc" ref="sigmoid" />
		<property name="activeBias" value="false"/>
	</bean>

	<bean id="trainingDataSet" class="io.github.dominikthomas.neuralnet.data.NeuralDataSet">
		<property name="inputData" ref="trainingInputData" />
		<property name="outputData" ref="trainingOutputData" />
	</bean>

	<bean id="trainingInputData" class="io.github.dominikthomas.neuralnet.data.NeuralInputData">
		<property name="data" ref="trainingInputArray" />
	</bean>

	<bean id="trainingOutputData" class="io.github.dominikthomas.neuralnet.data.NeuralOutputData">
		<property name="targetData" ref="trainingTargetArray" />
	</bean>
	
	<util:list id="trainingInputArray">
		<list>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
		</list>
		<list>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
		</list>
		<list>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
		</list>
		<list>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
		</list>
		<list>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
		</list>
		<list>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
		</list>
		<list>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
		</list>
		<list>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
		</list>
		<list>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
		</list>
		<list>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
			<value>#{T(io.github.dominikthomas.neuralnet.math.RandomNumberGenerator).GenerateNext()}</value>
		</list>
	</util:list>
	
	<util:list id="trainingTargetArray">
		<list><value></value></list>
		<list><value></value></list>
		<list><value></value></list>
		<list><value></value></list>
		<list><value></value></list>
		<list><value></value></list>
		<list><value></value></list>
		<list><value></value></list>
		<list><value></value></list>
		<list><value></value></list>
	</util:list>
	
</beans>