<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"	
	xsi:schemaLocation="http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util.xsd/
						http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
	">
						
 	<import resource="activationFunctions.xml"/>
 	
	<bean id="neuralNet"
		class="com.dominikthomas.neuralnet.beans.NeuralNet" >
		<property name="numberOfInputs" value="2" />
		<property name="numberOfOutputs" value="1" />
		<property name="hiddenLayers">
			<list value-type="com.dominikthomas.neuralnet.HiddenLayer">
				<ref bean="layer1"/>
				<ref bean="layer2"/>
				<bean id="layer3" parent = "layer2"/>
			</list>
		</property>
		<property name="outputAcFnc" ref="linear" />
	</bean>
	
	<bean id="layer1"
		class="com.dominikthomas.neuralnet.beans.HiddenLayer" >
		<property name="numberOfNeurons" value="10" />
		<property name="activationFunction" ref="sigmoid" />
	</bean>
	
	<bean id="layer2"
		class="com.dominikthomas.neuralnet.beans.HiddenLayer" >
		<property name="numberOfNeurons" value="5" />
		<property name="activationFunction" ref="sigmoid" />
	</bean>
	
</beans>